
<div class="home">
    <span>
        <h1>Homepage</h1>
        <h3>Please log in</h3>
        <p>Every aspiring trainer needs to be able to track their pokemon. Track yours here!</p>
    </span>
</div>
<img class="home" src="assets/background_pokedex.png" alt="">


