html {
  height: 100%;
  width: 100%
}
nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}
form {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}
#login {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}
button {
  background-color: skyblue;
}
nav a {
  color: black;
  text-decoration: none;
  border: solid black 1px;
  border-radius: 4px;
  padding: 2px;
}
.profile_pic {
  height: 50px;
  width: 50px;
  background-color: rgb(34, 119, 204);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 25px;
  margin: 5px;
}
body {
  background-color: rgb(27, 27, 27);
  color: yellow;
  height: 100%;
  width: 100%;
}
nav {
  background-color: darkred;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
#container_show {
  margin: none;
  display: grid;
  height: 95%;
  width: 100%;
  grid-gap: none;
  padding: none;
  grid-template-rows: .7fr .3fr;
  grid-template-columns: .2fr .8fr;
  grid-template-areas: "toggle_types show_pokemon"
                       "toggle_games toggle_games";
}
#show_pokemon {
  grid-area: show_pokemon;
  height: 100%;
  width: 100%;
  font-size: auto;
  margin: none;
  padding: none;
  display: grid;
  grid-gap: none;
  grid-template-rows: .2fr .3fr .3fr .2fr;
  grid-template-columns: .5fr .5fr;
  grid-template-areas: "favorite primary"
                       "pokemon_pic info"
                       "pokemon_pic moves"
                       "evolutions description";
}
#container_index {
  margin: none;
  display: grid;
  height: 95%;
  grid-gap: none;
  grid-template-rows: .7fr .3fr;
  grid-template-columns: .2fr .8fr;
  grid-template-areas: "toggle_types display_pokemon"
                       "toggle_games toggle_games";
}
#display_pokemon {
  grid-area: show_pokemon;
  height: 100%;
  width: 100%;
  padding: none;
  margin: none;
  display: grid;
  grid-gap: none;
  grid-template-rows: .2fr .3fr .25fr .25fr;
  grid-template-columns: .5fr .5fr;
  grid-template-areas: "favorite info"
                       "pokemon_pic info"
                       "pokemon_pic moves"
                       "evolutions description";
}
p {
  margin: 0px;
}
.game {
  border: solid lightblue 1px;
  border-radius: 2px;
  width: 100%;
  height: auto;
  font-size: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: none;
  overflow-x: hidden;
}
.game a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}
#toggle_games {
  grid-area: toggle_games;
  background-color: darkred;
  padding: 0 2px 2px;
  width: 100%;
}
.game_grid {
  border: solid yellow 2px;
  border-top: unset;
  border-radius: 4px;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  padding: 5px;
}
.grid_title {
  border: solid yellow 2px;
  border-bottom: unset;
  text-align: center;
  margin: 0 0 -2px;
  width: auto;
  border-top-right-radius: 15px;
}
#toggle_types {
  grid-area: toggle_types;
  background-color: darkred;
  padding: 2px;
  padding-right: 0;
  padding-bottom: -2px;
  width: 100%;
}
.type_grid {
  border: solid yellow 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px 5px 5px 5px;
  margin-bottom: -5px;
}
.type {
  border: solid lightblue 1px;
  border-radius: 2px;
  width: 100%;
  height: 5%;
  font-size: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size:15px;
  margin: 1px;
}
.type a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}
.active {
  background-color:skyblue;
  color: black;
}
.inactive {
  background-color:rgb(228, 228, 228);
  color: rgb(117, 117, 117);
}
#favorite {
  grid-area: favorite;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  padding: 5%;
  height: 100%;
  width: 100%;
}
#info {
  grid-area: info;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  font-size: auto;
}
#pokemon_pic {
  grid-area: pokemon_pic;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.pokemon_image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
#moves {
  grid-area: moves;
  height: 100%;
  width: 100%;
}
#evolutions {
  grid-area: evolutions;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#evolutions a {
  text-decoration: none;
  font-size: inherit;
  font-style: inherit;
  color: inherit;
}
#description {
  grid-area: description;
  height: 100%;
  width: 100%;
}
#display_pokemon {
  grid-area: display_pokemon;
  padding: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  overflow-y: scroll;
}
.pokeCard {
  height: 150px;
  width: 120px;
  padding: 5px;
  margin: 2px;
  text-align: center;
  border: solid yellow 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  background-color: inherit;
}
.pokeCard img {
  width: 95%;
  height: auto;
}
.pokeCard a {
  color: yellow;
  text-decoration: none;
  font-size: inherit;
}
img.collected {
  height: 18px;
  width: 18px;
  position: absolute;
  top: 4px;
  right: 2px;
}
div.collected {
  border: rgb(202, 147, 7) solid 2px;
}
#login {
  justify-content: flex-start;
}
#login input, label {
  margin: 1% 1%;
}
.home {
  height: 90%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.home h1, h3 {
  display: inherit;
}
.home span {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 40%;
  width: 40%;
  margin: 10%;
}
img.home {
  position: fixed;
  height: 50%;
  width: auto;
  bottom: 10%;
  right: 10%;
}
#primary {
  grid-area: primary;
  height: 100%;
  width: 100%;
}
#profile {
  padding: 20px;
}